<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div align="center">
    <h2>Bem Vindo!</h2>
    <img src="assets/imgs/logo.png" width="120">
    <h3>O maior e melhor Guia comercial da Região!</h3>
  </div>

  <p align="center">Faça seu cadastro completo e tenha acesso a todas as novidades!</p>

  <form [formGroup]="cadastro" (ngSubmit)="onSubmit()">

    <ion-list>

        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" value="" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Cidade</ion-label>
            <ion-input type="text" value="" formControlName="cidade"></ion-input>
          </ion-item>
      
        <ion-item>
          <ion-label stacked>Telefone</ion-label>
          <ion-input type="tel" placeholder="(*OPCIONAL*)" formControlName="telefone"></ion-input>
        </ion-item>
      
      </ion-list>

      <button ion-button block round style="background-color:#0b8944" 
       type="submit" [disabled]="cadastro.invalid" (click)="showAlert()">Entrar</button>

    </form>

</ion-content>
