.tabs-md .tab-button[aria-selected=true] {
    color: #07861f;
    padding: 0;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #07861f;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #07861f;
}

 .tab-button-text {
    display: block;
    color: #8c8c8c;
}