<ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Guia" tabIcon="home"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Promoções" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="Contato" tabIcon="contacts"></ion-tab>
      </ion-tabs>
      