<ion-header>
    <ion-navbar>
      <ion-title style="margin-top: 6px">
       Promoções
      </ion-title>
    </ion-navbar>
</ion-header>
    
    
    <ion-content>

        <ion-card>
            <ion-card-content text-center>
                Aqui você encontra as Promoções e os cupons das lojas e profissionais do Guia.
                <p>Leia as regras e aproveite!</p>
            </ion-card-content>
          </ion-card>
          <div padding>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button segment-activated value="kittens">
          Promoções
        </ion-segment-button>
        <ion-segment-button value="puppies">
          Cupons
        </ion-segment-button>
      </ion-segment>
    </div>
    
    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'puppies'">
          <ion-card *ngFor="let c of contacts | async" text-wrap>
    
              <ion-item  style="background-color:#0b8944">
                
                <ion-icon style="color:aliceblue" name="md-pricetags" item-start></ion-icon>
                
                <h2 text-wrap style="color:aliceblue; text-transform: uppercase; font-weight: bold; background-color:#0b8944">{{c.cupom}} - {{c.tipo}}</h2>
              
                <h3 style="color:aliceblue">{{c.descricao}}</h3>
          
                <p style="color:aliceblue">{{c.extra}}</p>
                
                <p style="color:aliceblue">Validade: {{c.validade}}</p>
                
          
              </ion-item>
          
            </ion-card>
      </ion-list>
    
      <ion-list *ngSwitchCase="'kittens'">
          <ion-card *ngFor="let c of promocoes | async" text-wrap>
    
              <ion-item  style="background-color:#0b8944">
                
                <ion-icon style="color:aliceblue" name="md-pricetags" item-start></ion-icon>
                
                <h2 text-wrap style="color:aliceblue; text-transform: uppercase; font-weight: bold; background-color:#0b8944">{{c.promocao}} - {{c.tipo}}</h2>
              
                <h3 style="color:aliceblue">{{c.descricao}}</h3>
          
                <p style="color:aliceblue">{{c.extra}}</p>
                
                <p style="color:aliceblue">Validade: {{c.validade}}</p>
                
          
              </ion-item>
          
            </ion-card>
            </ion-list>
         </div>
    
    </ion-content>
    