<ion-content padding style="margin-top: 8px">
    <ion-item>
      <ion-label stacked>Use a primeira letra Maiúscula</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.nomeCliente" name="nome" placeholder="Quem está procurando?"></ion-input>
    </ion-item>
    <div>&nbsp;</div>
    <button block ion-button round style="background-color:#0b8944" (click)="searchClientes()">Pesquisar</button>
    <div>&nbsp;</div>
    <button block ion-button round style="background-color:#0b8944" (click)="dismiss()">Cancelar</button>
</ion-content>
