<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-top: 6px">
      Clientes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let cliente of clientes">
    <ion-item-divider text-wrap color="light" style="text-transform: uppercase; font-weight: bold">{{cliente.nome}}</ion-item-divider>
        <ion-card-content>
          <p *ngIf="cliente.servicos" style="color:#0b8944" text-wrap>{{cliente.servicos}}</p>
          <ion-list no-lines>
            <ion-item icon-start *ngIf="cliente.endereco">
              <ion-icon name="pin" clear small color="dark"></ion-icon>
              <label text-wrap>
                {{cliente.endereco}}
                <br/>
                <span style="color:rgba(0,0,0,0)">....</span>{{cliente.bairro}}
              </label>
            </ion-item>
            <ion-item *ngIf="cliente.site">
              <ion-icon name="md-globe" clear small style="color:#0b8944"></ion-icon>
              <label>
                <a target="_blank" href="{{cliente.site}}" style="text-decoration:none; color:#0b8944 !important">Acessar o Site</a>
              </label>
            </ion-item>
            <ion-item *ngIf="cliente.email">
              <ion-icon name="mail" clear small style="color:#0b8944"></ion-icon>
              <label>
                <a href="mailto:{{cliente.email}}?subject=Mensagem enviada pelo aplicativo EcoLista" style="text-decoration:none; color:#0b8944 !important">Enviar e-mail</a>
              </label>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-6 align="center">
                  <a href="tel:{{cliente.tel}}" style="text-decoration:none; color:rgb(255, 255, 255) !important">
                    <button ion-button block style="background-color:#0b8944" icon-start *ngIf="cliente.tel">
                      <ion-icon name='call'></ion-icon>
                      {{cliente.tel}}
                    </button>
                  </a>
                </ion-col>

                <ion-col col-6 align="center">
                  <a href="tel:{{cliente.tel2}}" style="text-decoration:none; color:rgb(255, 255, 255) !important">
                    <button ion-button block style="background-color:#0b8944" icon-start *ngIf="cliente.tel2">
                      <ion-icon name='call'></ion-icon>
                      {{cliente.tel2}}
                    </button>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-list>
        </ion-card-content>
      

  </ion-card>
</ion-content>