<ion-header>
  <ion-toolbar>
    <ion-title style="margin-top: 6px">
      EcoLista
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchClientes()">
        <ion-icon name="search"></ion-icon>
        Buscar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

    <div text-center>
        <img src="assets/imgs/logo.png" width="120">
        <p>O maior e melhor Guia comercial da região</p>
      </div>



  <ion-card>
      <ion-list>
        <ion-item-divider text-wrap color="light" style="text-transform: uppercase; font-weight: bold;">           
          <ion-icon name="ios-home-outline" item-start></ion-icon>
          Estados</ion-item-divider>
    
          <button ion-item *ngFor="let item of estados" (click)="openHomeCidades(item)" no-lines>
              <ion-icon name="md-return-right" item-start></ion-icon>
              {{item.nomeEstado}}
            </button >
      </ion-list>
    </ion-card>

</ion-content>


<!-- <ion-list>
    <ion-item *ngFor="let item of estados" (click)="openHomeCidades(item)">
      {{item.nomeEstado}}
    </ion-item>
  </ion-list> -->