<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-top: 6px">
      Cidades
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-item-divider text-wrap color="light" style="text-transform: uppercase; font-weight: bold">
        <ion-icon name="ios-home-outline" item-start></ion-icon>
      Cidades
    </ion-item-divider>
  
  <ion-list>
  <button ion-item block *ngFor="let cidade of cidades" (click)="openHomeRamos(cidade)">
    <ion-icon name="md-return-right" item-start></ion-icon>
    {{cidade.nomeCidade}}
  </button >
  </ion-list>
  </ion-card>
</ion-content>
