<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Guia-EcoLista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides pager>

    <ion-slide style="background-color: white">
      <h2>Bem Vindo!</h2>
      <img src="assets/imgs/logo.png" width="120">
      <h2>O maior e melhor Guia comercial da Região!</h2>
    </ion-slide>

    <ion-slide style="background-color: white">
      <h2>Adicione o app na sua Tela Inicial do seu Android</h2>
      <p>siga os passos a seguir</p>
      <ion-img src="assets/imgs/Screenshot_20180309-100134_Chrome.jpg" width="280" height="600"></ion-img>
    </ion-slide>


    <ion-slide style="background-color: white">
      <h2>Adicione o app na sua Tela Inicial</h2>
      <p>agora clique em adicionar a tela inicial</p>
      <ion-img src="assets/imgs/Screenshot_20180309-100309_Chrome.jpg" width="280" height="600"></ion-img>

    </ion-slide>

    <ion-slide style="background-color: white">
      <h2>Adicione o app na sua Tela Inicial</h2>
      <p>pronto agora é só clicar erm iniciar!</p>
      <ion-img src="assets/imgs/Screenshot_20180309-100348_Chrome.jpg" width="280" height="600"></ion-img>


    </ion-slide>

    <ion-slide style="background-color: white">

      <h2 align=" center">Navegue A Vontade</h2>
      <img src="assets/imgs/logo.png" width="120">
      <button ion-button block round style="background-color:#0b8944" (click)="paginaInicial()">Entrar</button>

    </ion-slide>

  </ion-slides>

</ion-content>