<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="margin-top: 6px">Informações</ion-title>
    </ion-navbar>
  </ion-header>



<ion-content padding>

  <div>
    <h2>MLCdigital</h2>
    <p>Nossa empresa se preocupa com a implantação de sistemas 
      atualizados e com um preço justo.</p>
      <p>Deseja fazer parte desse projeto ou tem um projeto pessoal para colocar em prática?</p>
      <p>Entre em contato conosco e tire suas dúvidas ou faça um orçamento.</p>
  </div>
  <div>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
      <a href="tel:43996730232" style="text-decoration:none;">
        <button ion-button round style="background-color:#0b8944" full icon-left>
            <ion-icon name="call"></ion-icon>
          SAC
        </button>
      </a>
    </ion-col>
    <ion-col col-6>
        <a href="tel:43999578000" style="text-decoration:none;">
          <button ion-button style="background-color:#0b8944" round full icon-left>
              <ion-icon name="call"></ion-icon>
            Vendas</button>
        </a>
      </ion-col>
      <ion-col col-6>
          <a href="mailto:murilolcabral@gmail.com" style="text-decoration:none;">
            <button ion-button style="background-color:#0b8944" round full icon-left>
                <ion-icon name="mail"></ion-icon>
              Email
            </button>
          </a>
        </ion-col>
        <ion-col col-6>
            <a target="_blank" href="http://www.ecolista.mlcdigital.com.br" style="text-decoration:none;">
              <button ion-button style="background-color:#0b8944" round full icon-left>
                  <ion-icon name="md-globe"></ion-icon>
                Site
              </button>
            </a>
          </ion-col>
    </ion-row>
  </ion-grid>
  </div>

</ion-content>
